* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background-image: url("low-poly-abstract-background_1048-6723.jpg");
           background-size: 100%  700px;

}

.header {
	width: 30%;
	margin: 20px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
    background-color: #003366;
    opacity: 0.9;
    border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
img{
   position: absolute;
   right: 60px;
   bottom: 100px;
   z-index: -5;

}
     h1 {
     border:5px solid #ffa31a;
     color:red;
      text-shadow:2px 2px 8px blue; 
      font-size: 40px;
      font-style: italic;
      font-weight: bold;
      }
img{
   position: absolute;
   right: 60px;
   bottom: 100px;
   z-index: -5;

}